.todo-app {
  font-family: Ubuntu;
  text-align: center;
  margin: 0 auto;
  max-width: 40%;
}

/** todo list **/
.todo-list {
  margin-top: 1rem;
  text-align: left;
  list-style: none;
}

.todo-item__text {
  margin-bottom: 0px;
}

.todo-item__text--completed {
  text-decoration: line-through;
  color: lightgray;
}

/** visibility filters **/
.filter {
  padding: 0.3rem 0;
  margin: 0 0.3rem;
  cursor: pointer;
  text-transform: uppercase;
}
.filter--active {
  border-bottom: 2px solid black;
}

.visibility-filters span{
  font-weight: bold;
}


/* .todo-container {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--font-color);
  max-height: 400px;
  overflow-y: auto;
} */

.todo-col {
  margin: auto;
}

.todo {
  border-radius: 10px;
  text-align: left;
}