.todo-app {
  font-family: Ubuntu;
  text-align: center;
  margin: 0 auto;
  max-width: 40%;
}

/** todo list **/
.todo-list {
  margin-top: 1rem;
  text-align: left;
  list-style: none;
}

.todo-item__text--completed {
  text-decoration: line-through;
  color: lightgray;
}

/** visibility filters **/
.filter {
  padding: 0.3rem 0;
  margin: 0 0.3rem;
  cursor: pointer;
}
.filter--active {
  border-bottom: 2px solid black;
}

.visibility-filters span{
  font-weight: bold;
}
